node_modules/

*~
dist/

setup_env.sh

*.pem

*.swp

*.bin
*.DS_Store

*.jpeg
*.jpg
*.png
*.raw

# ignore the above image extension wildcards for images in the default_renders dir, those should always be checked in
!default_renders/*

temp_renders/
